.btn{
	.transition(0.2s);
	.fp;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 30px;
	line-height: 30px;
	font-size: @fsp;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @cp;
	&:hover{
		background: @cl;
	}
}
