// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Open Sans Condensed',sans-serif;} // font header
.fi {font-family: sans-serif;} // font icon

// body
@bb: #fff6c5; // body background

// colors
@cp: #453a25; // color primary
@cl: #f08e2e; // color link

// font sizes
@fsp: 15px; // font size primary
@fsh1: 44px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 18px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;