#page-header {
	position: relative;
	overflow: hidden;
	min-height: 200px;
	.logo {
		float: left;
		width: 46%;
		padding: 46px 0 0 1px;
		a {
			.fh;
			display: block;
			min-height: 100px;
			text-decoration: none;
			color: #fff;
			font-size: 45px;
			line-height: 1.2;
			letter-spacing: 0.008em;
			text-transform: uppercase;
			padding: 19px 0 0 134px;
			background: url(../images/logo/01.png) no-repeat;
			small {
				.fp;
				display: block;
				font-size: 18px;
				color: #cfc291;
				letter-spacing: 0;
			}
		}
	}
}
#page-footer {
	padding: 23px 0 40px;
	background: #cfc291;
	.facebook {
		float: left;
		margin: 0 15px 0 0;
		a {
			.border-radius(50%);
			display: block;
			width: 46px;
			height: 46px;
			padding: 8px 0 0;
			text-align: center;
			background: #f08e2e;
			&:hover{
				background: darken(#f08e2e,10%);
			}
		}
	}
	.copy {
		width: 70%;
		float: left;
		color: #fff6c5;
		text-transform: uppercase;
		font-size: 10px;
		p {
			margin: 3px 0;
		}
	}
	.xart {
		width: 20%;
		margin: 7px 0;
		float: right;
		text-align: right;
		text-transform: uppercase;
		font-size: 11px;
		a {
			color: #fff;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: -1px -2px 0 7px;
		}
	}
}
#col-main {
	padding: 76px 0;
	float: right;
	width: 620px;
}
#col-left {
	padding: 76px 0;
	float: left;
	width: 240px;
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: 'top';
			font-size: 20px;
		}
		&:hover{
			background: @cp;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}