.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0 0 20px;
		li{
			float: left;
			margin-right: 15px;
			font-size: 12px;
			color: @cl;
			&:before{
				top: 3px;
			}
			a {
				color: lighten(@cp,20%);
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-request {
	width: 52.2%;
	float: right;
	a {
		.clearfix;
		.transition(0.2s);
		display: block;
		position: relative;
		left: 0;
		height: 67px;
		margin: 0 -20px 0 0;
		text-decoration: none;
		color: @cp;
		text-transform: uppercase;
		background: url(../images/bg/02.png) no-repeat right top;
		&:hover{
			left: 10px;
		}
		.mod-title {
			float: left;
			font-weight: bold;
			font-size: 20px;
			line-height: 1;
			letter-spacing: 0.01em;
			padding: 24px 0 0 33px;
		}
		p {
			float: right;
			width: 42%;
			margin: 0;
			font-size: 14px;
			line-height: 1.3;
			padding: 15px 30px 0 0;
		}
	}
}
.mod_menu-main {
	position: relative;
	width: 52.2%;
	float: right;
	padding: 30px 0;
	background: fade(#000,50%);
	&:before{
		position: absolute;
		content: '';
		left: 100%;
		top: 0;
		height: 100%;
		width: 999em;
		background: fade(#000,50%);
	}
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			color: #fff;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 1.2;
			margin: 0 12px 0 33px;
			white-space: nowrap;
			&:before{
				.fp;
				position: static;
				content: '/';
				font-size: 20px;
				float: left;
				margin: 0 4px 0 0;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				color: @cl;
				&>a {
					color: @cl;
				}
			}
		}
	}
}
.mod_custom-intro {
	padding: 55px 0 40px;
	.row-items {
		.row;
		margin: 0 -20px;
	}
	.item-01,.item-04,.item-05 {
		.col-4;
		padding: 0 20px;
		margin: 20px 0;
	}
	.item-02,.item-03 {
		.col-8;
		padding: 0 20px;
		margin: 20px 0;
	}
	.item-01,.item-04 {
		.inner {
			height: 280px;
			padding: 37px 42px 0 42px;
			color: #fff;
			font-size: 18px;
			line-height: 1.2;
			background: #f08e2e;
			a {
				color: @cp;
			}
			.mod-title {
				.fh;
				text-transform: uppercase;
				font-size: 24px;
				line-height: 1.21;
			}
			nav {
				font-size: 16px;
				padding: 0 0 0 22px;
				font-weight: bold;
				a {
					display: inline-block;
					position: relative;
					&:before,&:after{
						position: absolute;
						content: '';
						left: -22px;
						top: 50%;
						margin-top: -19px;
						border: 18px solid transparent;
						border-left-width: 11px;
						border-right-width: 0;
						border-left-color: @cp;
					}
					&:after{
						left: -23px;
						border-left-color: #f08e2e;
					}
				}
			}
		}
	}
	.item-04 {
		.inner {
			padding-top: 18px;
			font-size: 15px;
			line-height: 1.2;
			background: #695d46;
			a {
				color: #fff6c5;
			}
			nav {
				font-size: 14px;
				margin-top: 32px;
				a {
					&:before,&:after{
						border-left-color: #fff6c5;
					}
					&:after{
						border-left-color: #695d46;
					}
				}
			}
		}
	}
	.item-02,.item-03 {
		a {
			color: #fff;
			text-decoration: none;
			.mod-title {
				.fh;
				.transition(0.2s);
				width: 53.3%;
				height: 280px;
				padding: 100px 42px 0;
				float: left;
				text-transform: uppercase;
				color: #fff;
				font-size: 44px;
				line-height: 1.1;
				background: #91d1c4 url(../images/icon/01.png) no-repeat 42px 35px;
			}
			.img{
				position: relative;
				width: 46.7%;
				height: 280px;
				float: right;
				overflow: hidden;
				img {
					position: relative;
					display: block;
				}
				span {
					.fh;
					.transition(0.2s);
					position: absolute;
					top: 0;
					left: -100%;
					width: 100%;
					height: 100%;
					padding: 101px 70px 0;
					color: #fff;
					text-transform: uppercase;
					font-size: 23px;
					line-height: 1.5;
					letter-spacing: 0.02em;
					text-align: center;
					background: fade(#000,60%) url(../images/icon/03.png) no-repeat center 43px;
				}
			}
			&:hover{
				.mod-title {
					background-color: darken(#91d1c4,10%);
				}
				.img {
					span {
						left: 0;
					}
				}
			}
		}
	}
	.item-03 {
		a {
			.mod-title {
				background: #cfc291 url(../images/icon/02.png) no-repeat 42px 35px;
			}
			&:hover{
				.mod-title {
					background-color: darken(#cfc291,10%);
				}
			}
		}
	}
	.item-05 {
		position: relative;
		height: 280px;
		overflow: hidden;
		.mod-title {
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0 20px;
			a {
				.fh;
				.transition(0.2s);
				position: relative;
				display: block;
				padding: 19px 15px 20px 63px;
				background: #453a25;
				text-decoration: none;
				text-transform: uppercase;
				color: #fff;
				font-size: 22px;
				line-height: 1.1;
				&:hover{
					background: darken(#453a25,10%);
				}
				img {
					position: absolute;
					left: 0;
					top: 18px;
				}
			}
		}
		figure {
			img {
				display: block;
			}
		}
		ul {
			.rul;
			.transition(0.2s);
			position: absolute;
			bottom: 100%;
			left: 20px;
			right: 20px;
			height: 100%;
			padding: 36px 0 0;
			background: fade(#000,60%);
			li {
				.fh;
				.rli;
				text-transform: uppercase;
				font-size: 22px;
				line-height: 1.1;
				padding: 0 0 0 69px;
				margin: 0 0 14px;
				&:before{
					top: 19px;
					width: 50px;
					height: 1px;
					background: #fff;
				}
				a {
					color: #fff;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		&:hover{
			ul {
				bottom: 0;
			}
		}
	}
}
.mod_menu-footer {
	float: left;
	width: 70%;
	ul {
		.rul;
		.clearfix;
		margin: 5px 0;
		li {
			.rli;
			float: left;
			font-size: 13px;
			margin: 0 26px 0 0;
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 0 0 40px;
	&>ul {
		.rul;
		&>li {
			.rli;
			margin: 0 0 2px;
			&>a {
				.fh;
				.transition(0.1s);
				position: relative;
				text-transform: uppercase;
				text-decoration: none;
				padding: 14px 10px 13px 50px;
				display: block;
				font-size: 20px;
				line-height: 1.2;
				color: #fff;
				background: #695d46;
				&:hover{
					background: darken(#695d46,5%);
				}
				img {
					position: absolute;
					left: 0;
					top: 12px;
				}
			}
			&.act {
				&>a {
					&:before{
						.transition(0.1s);
						position: absolute;
						content: '';
						left: 100%;
						top: 0;
						border: 26px solid transparent;
						border-right-width: 0;
						border-left-width: 14px;
						border-left-color: #695d46;
					}
					&:hover{
						&:before{
							border-left-color: darken(#695d46,5%);
						}
					}
				}
			}
			&.item-01 {
				&>a {
					background: #91d1c4;
					&:hover{
						background: darken(#91d1c4,5%);
					}
				}
				&.act {
					&>a {
						&:before{
							border-left-color: #91d1c4;
						}
						&:hover{
							&:before{
								border-left-color: darken(#91d1c4,5%);
							}
						}
					}
				}
			}
			&.item-02 {
				&>a {
					background: #cfc291;
					&:hover{
						background: darken(#cfc291,5%);
					}
				}
				&.act {
					&>a {
						&:before{
							border-left-color: #cfc291;
						}
						&:hover{
							&:before{
								border-left-color: darken(#cfc291,5%);
							}
						}
					}
				}
			}
			&.item-03 {
				&>a {
					background: #f08e2e;
					&:hover{
						background: darken(#f08e2e,5%);
					}
				}
				&.act {
					&>a {
						&:before{
							border-left-color: #f08e2e;
						}
						&:hover{
							&:before{
								border-left-color: darken(#f08e2e,5%);
							}
						}
					}
				}
			}
		}
		ul {
			.rul;
			padding: 23px 10px 20px 50px;
			background: #453a25;
			li {
				.rli;
				.fh;
				font-size: 18px;
				line-height: 1.2;
				margin: 0 0 7px;
				text-transform: uppercase;
				&:before{
					width: 40px;
					height: 1px;
					background: #fff;
					top: 15px;
					left: -50px;
				}
				a {
					color: #fff;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				&.act {
					&>a {
						font-weight: bold;
					}
				}
			}
			ul {
				padding-left: 10px;
				padding-right: 0;
				li {
					text-transform: none;
					&:before{
						width: 60px;
						left: -70px;
					}
				}
			}
		}
	}
}